

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
    font-family: Calibri, 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: rgb(173, 255, 170);

    background: rgb(32, 32, 32);
}

main {
    margin: 0px;
    padding: 0px 0px 10px;
    min-width: 300px;
    max-width: 1000px; /* ?? */
    width: min-content;
    display: flex;
    flex-grow: 1;
    
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;

    background: rgb(42, 42, 42);
    /* background: rgb(122, 202, 122); */
}
main.max_content {
    width: max-content;
}

header {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    
    font-size: 225%;
    font-weight: bold;
    font-stretch: expanded;
    color:rgb(48, 233, 41);
}

div {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

section {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    background: rgb(34, 34, 34);
    box-shadow: 3px 5px 4px #000000a2;
}

p {
    margin: 5px;
    padding: 0px 10px;
}

h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px 0.15em;
    display: block;

    color:rgb(51, 238, 44);
    font-weight: normal;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}
h4 {
    margin-top: 0.25em;
    padding: 0;
    color: inherit;
    font-size: 100%;
}

footer {
    margin: 0px;
    padding: 5px 0px 10px;
    justify-self: flex-end;
    text-align: center;
    font-size: 80%;

    background: rgb(0, 0, 0);
}


ul {
    display: block;
    list-style-type: disc;
}

ul > li {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

ul.footer-list {
    padding: 0px;
    list-style-type: none;
}

table {
    margin: 5px;
    padding: 0px 10px;
    text-emphasis: none;
}
th {
    text-align: left;
    font-weight: inherit;
}

a {
    color: rgb(74, 221, 135);
}
a:hover {
    color: rgb(128, 255, 181);
}

canvas.background_canvas {
    padding: 0;
    margin: 0;
    z-index: -10;
}

/* TODO organize this stuff into more files lul */
.canvas-flex-container{
    padding: 0px;
    margin: 10px;
    width: min-content;
    align-self: center;
    flex-direction: column;
}
.pattern-clock-container {
    background: rgb(54, 65, 89);
}
.canvas-description {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.canvas-name {
    margin: 0px 20px;
    align-self: flex-start;

    color: rgb(107, 118, 143);
    font-weight: normal;
}
.canvas-details {
    margin: 0px 20px;
    align-self: flex-end;
    
    color: rgb(107, 118, 143);
    font-weight: lighter;
}

