body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    
    font-family: Calibri, 'Gill Sans', 'Trebuchet MS', sans-serif;
    background: rgb(14, 47, 13);
}
main {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: min-content;
    min-height: auto;
    /* make it so that the footer is always at the bottom */
    flex-direction: column;
    justify-content: center;

    background: rgb(66, 87, 64);
}
header {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 5px 0px;
    display: flex;
    justify-content: center;
    background: rgb(13, 160, 0);
    
    font-size: 40px;
    font-weight: bold;
    font-stretch: expanded;
    /* text-shadow: black 10; TODO */
    color:rgb(196, 238, 169);
}
div {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
section {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    background: rgb(63, 126, 102);
    box-shadow: 3px 3px 5px #00000069;
}

h1 {
    margin: 0px;
    padding: 0px 5px;
    display: block;

    color: rgb(196, 238, 169);
    font-weight: normal;
}

h2 {
    margin: 0px;
    padding: 0px;
    display: inline;
}

h3 {
    margin: 0px;
    padding: 0px;
    display: inline;
}

footer {
    margin: 10px 0px 0px;
    padding: 5px 0px 10px;
    text-align: center;
    background: rgb(13, 160, 0);

    color: rgb(196, 238, 169);
}

ul {
    display: block;
    list-style-type: disc;
    color: rgb(196, 238, 169);
}

ul.footer-list {
    list-style-type: none;
}

a {
    color: rgb(196, 238, 169);
}

/* TODO organize this stuff into more files lul */
.canvas-flex-container{
    padding: 0px;
    margin: 10px;
    width: min-content;
    align-self: center;
    flex-direction: column;
}
.pattern-clock-container {
    background: rgb(54, 65, 89);
}
.canvas-description {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.canvas-name {
    margin: 0px 20px;
    align-self: flex-start;

    color: rgb(107, 118, 143);
    font-weight: normal;
}
.canvas-details {
    margin: 0px 20px;
    align-self: flex-end;
    
    color: rgb(107, 118, 143);
    font-weight: lighter;
}